<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
  </head>

  <body>
    <p id="result">Loading...</p>
    <script>
      const resBox = document.getElementById('result');
      const token = window.location.pathname.split('/')[4]; // [0]/[1]v1/[2]auth/[3]verify/[4]token

      fetch(window.location.origin + '/v1/auth/verify', {
        method: 'PATCH',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ token }),
      })
        .then((reply) => {
          return reply.json();
        })
        .then((result) => {
          console.log(result);
          if (result.success) {
            resBox.innerText = result.Data.message;
          } else {
            resBox.innerText = result.Data.error;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    </script>
  </body>
</html>
