<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta property="og:title" content="" />
		<meta property="og:type" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />

		<link rel="manifest" href="site.webmanifest" />
	</head>

	<body>
		<p id="result"></p>
		<p id="validationErrors"></p>
		<div id="container">
			<label>New password</label>
			<input id="password" type="password" />
			<button id="btn">Change password</button>
		</div>

		<script>
			const resBox = document.getElementById('result');
			const errorBox = document.getElementById('validationErrors');
			const container = document.getElementById('container');
			const input = document.getElementById('password');
			const btn = document.getElementById('btn');

			const token = window.location.pathname.split('/')[3]; // [0]/[1]auth/[2]verify/[3]token

			btn.addEventListener('click', (e) => {
				e.preventDefault();
				errorBox.innerText = '';
				resBox.innerText = '';

				fetch(window.location.origin + '/auth/reset', {
					method: 'PATCH',
					headers: {
						Accept: 'application/json',
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ token, password: input.value }),
				})
					.then((reply) => {
						return reply.json();
					})
					.then((result) => {
						if (result.success) {
							resBox.innerText = result.Data.message;
							container.parentNode.removeChild(container);
						} else {
							resBox.innerText = result.Data.error;
							result.Data.validationErrors?.forEach((e) => {
								errorBox.innerText += e + ' ';
								console.log(e);
							});
						}
					})
					.catch((err) => {
						console.log(err);
					});
			});
		</script>
	</body>
</html>
